# Copy the .secrets.example file to a file simply named .secrets
#
# In that file, declare a shell variable per the Discord documentation at
# https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
# for the destination you intend to deliver messages

webhookurl="https://discord.com/api/webhooks/1011203160632741938/<TOKEN>"
