{{ include "_header.tmpl" }}
{{ if .customName }}
Checksum failed for **{{ .driver }}** on required app **{{ .customName }}**
{{ else }}
{{ if .requiredFile }}
Checksum failed for **{{ .driver }}** on required file **{{ .requiredFile }}**
{{ else }}
Checksum failed for **{{ .driver }}** on {{ .contentType }} **{{ .contentName }}**
{{ end }}
{{ end }}
{{ if .failedFile }}

:file_folder: **Specifically:** `{{ .failedFile }}`
{{ if .expectedChecksum }} :hash: **Expected checksum:** `{{ .expectedChecksum }}` {{ end }}
{{ end }}
{{ if .dlcPack }}

:package: {{ .contentName }} is available with the **{{ .dlcPack }}** DLC. Consider validating your game through Steam to reset any altered files.
{{ end }}
{{ if .isOriginalContent }}
{{ if not .dlcPack }}

:video_game: This content is included with the base game. Consider validating your game through Steam to reset any altered files.
{{ end }}
{{ end }}
{{ if .downloadURL }}

:arrow_down: **Content download:**
<{{ .downloadURL }}>
{{ end }}
{{ if .notes }}

:memo: **Important notes:**
{{ .notes }}
{{ end }}
{{ include "_footer.tmpl" }}