{{ include "_header.tmpl" }}
:sleeping: **Kicked for idling**

Driver **{{ .driver }}** was kicked because they were idle for too long.

This _may_ be temporary. Try rejoining, but you may need to wait until a new session has started.
{{ include "_footer.tmpl" }}
