:no_entry: **No Available Slots**

Joining was blocked (handshake failure) for **{{ .driver }}** because the server only accepts assigned drivers at the moment. Check if it's still possible to _register_ for the event, which might permit entry after the next full server restart.
